<h1><%= t('.pin_access') %></h1>

<%= form_with do |f| %>
  <div class="form-group">
    <%= f.label :pincode %>
    <%= f.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to t('helpers.link.main'), events_path %>
