<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=9f919d03-7044-4fbc-bd5b-7219bfcf5034&lang=ru_RU" type="text/javascript"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='vh-100 d-flex flex-column'>
    <%= render 'partials/nav' %>

    <%= render 'partials/flash' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'partials/footer' %>
  </body>
</html>
